/* COLORS */
$color-text: #4a4a4a;
$color-text-grayer: #7c7c7c;
$color-text-darker: #2d2d2d;
$color-text-lighter: #a1a1a1;

$color-body-background: #ecf7f3;
$color-button-background: #48b774;

$color-accent: #fb9b69;
$color-accent-brighter: #ff8345;
$color-accent-lighter: #fd905a;

$color-white: #ffffff;
