/* --- COLORS --- */
$color-primary: #4a4a4a;
$color-primary-lighter: #a1a1a1;
$color-primary-darker: #7c7c7c;
$color-primary-darkest: #2d2d2d;
$color-primary-lightest: #e8e8e8;

$color-secondary: #fd905a;
$color-secondary-lighter: #fb9b69;
$color-secondary-darker: #ff8345;

$color-tertiary: #ecf7f3;
$color-tertiary-darker: #48b774;
