.header {
  margin-top: 31px;
}

.wrapper {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 267px;

  &__img {
    margin-right: 8px;
    max-width: 40px;
    max-height: 40px;
  }

  &__text-link {
    font-size: 25px;
    font-weight: 500;
    color: $color-primary-darkest;
  }
}

.menu {
  display: flex;
  gap: 44px;
  margin-right: 242px;

  &__item {
    font-size: 16px;
    position: relative;
    transition: all 1s ease-in;

    &::after {
      content: "";
      position: absolute;
      bottom: -4px;
      left: 50%;
      transform: translateX(-50%);
      width: 21px;
      height: 1.5px;
      border-bottom: 1.5px solid $color-secondary-lighter;
      opacity: 0;
      transition: opacity 0.4s ease-in-out;
    }

    &:hover::after {
      opacity: 1;
    }
  }
}

.burger {
  display: none;
  position: relative;
  z-index: 50;
  align-items: center;
  justify-content: flex-end;
  width: 30px;
  height: 18px;

  span {
    height: 2px;
    width: 80%;
    transform: scale(1);
    background-color: $color-primary-darkest;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: $color-primary-darkest;
    transition: all 0.3s ease 0s;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  &.active span {
    transform: scale(0);
    overflow: hidden;
  }

  &.active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
  }

  &.active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0, -50%);
  }
}

/* --- MEDIA --- */
@media screen and (max-width: 1300px) {
  .logo {
    margin-right: 200px;
  }
}

@media screen and (max-width: 1190px) {
  .logo {
    margin-right: 150px;
  }
}

@media screen and (max-width: 990px) {
  .burger {
    display: flex;
  }

  .menu {
    display: none;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    text-align: center;
    position: fixed;
    gap: 15px;
    height: 40%;
    width: 25%;
    top: 4%;
    left: 73%;
    z-index: 50;
    overflow-y: auto;
    padding: 30px;
    background-color: $color-tertiary-darker;
    border-radius: 20px;

    &__item {
      flex-direction: column;
    }

    &.active-menu {
      display: flex;
    }

    &__item--link {
      color: #fff;
    }
  }
}

@media screen and (max-width: 991px) {
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .wrapper-for-response {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .menu {
    margin-right: 100px;
  }
}

@media screen and (max-width: 750px) {
  .menu {
    width: 30%;
    left: 67%;
  }
}

@media screen and (max-width: 620px) {
  .menu {
    width: 34%;
    left: 63%;
  }
}

@media screen and (max-width: 550px) {
  .menu {
    width: 40%;
    left: 57%;
  }
}

@media screen and (max-width: 497px) {
  .logo {
    margin-right: 50px;
  }

  .menu__item--link {
    font-size: 11px;
  }

  .menu {
    width: 42%;
    left: 54%;
    height: 34%;
    padding: 20px;
  }
}

@media screen and (max-width: 390px) {
  .logo {
    margin-right: 50px;
  }
  .logo__text-link {
    display: none;
  }

  .menu {
    width: 46%;
    height: 37%;
    left: 49%;
  }
}
